name: Build Windows App (Flet Native)


on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        run: pip install uv

      - name: Install Dependencies
        run: |
          # The --seed flag installs pip and setuptools inside the venv
          uv venv .venv --seed
          
          # Install flet with [all] to get packaging tools
          uv pip install "flet[all]"
          
          # If you have other dependencies, install them here:
          # uv pip install -r requirements.txt 

      - name: Build Windows App
        env:
          PYTHONIOENCODING: utf-8 
        run: |
          .venv\Scripts\activate
          flet build windows --product "HyperSpin" -v

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: HyperSpin-Windows
          path: build/windows/** 

      - name: List Build Directory
        run: dir build /s
